@import '~antd/dist/antd.css';
@font-face {
  font-family:'pacific';
  src:url('/asserts/fonts/pacific.ttf')
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}
.ededed {
  background-color: #ededed;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}


.header {
  display:flex;
  align-items:center;
  justify-content: flex-start;
  height:8vh;
  width:100%;
  background-color: #cccccc;
  border-radius:5px;
  vertical-align: middle;
}


.logo-title{
  font-size:5vh;
  font-family:'pacifico';
  padding-left:2vw;


}
body {
  background-color: #ededed;
}
.search-input {
  width:30vw;
  margin-left:40vw;

}
.login_register {
  margin-left:3vw;
}


.login-container {
  width:40vw;
  margin:0 auto;
  margin-top:10vh;

}


.shelf {
  display:flex;
  display:-webkit-flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:flex-start;
  margin-top:10vw;
  width:90vw;
  /* height:500px; */
  margin:0 auto;
  margin-top:20px;
  text-align:center;
  /* border:1px solid red; */
}
.book {
  width:100px;
  height:150px;
  margin-left:20px;
  margin-top:10px;
  margin-bottom:80px;
}
.book:first-child {
  /* margin-left:0px; */
}
.shelf-container {
  text-align:center;
}
.shelf-container h2 {
  margin-top:10px;
  margin-left:30px;
}
@media screen and (max-width:500px) {
  .book {
    width:35vw;
    height:57vw;
  }
}
.book img{
  width:100%;
  height:90%;
  border:1px solid silver;
  padding:1px;
  overflow:hidden;
}
.recently {
  width:90vw;
  margin:0 auto;
  background-color: white;
  /* border:1px solid red; */
}

.detail-container {
  width:90vw;
  margin:0 auto;
  background-color: white;
  text-align:center;

}
.detail-title {
  width:100%;
  /* height:50px; */
  background-color: #f8f8f8;
  margin-top:30px;
}
.detail-title h2 {
  padding-top:15px;
  padding-bottom:15px;
}
.detail-container h3 {

}
.detail-container img {
  width:70%;
  margin:0 auto;
  margin-top:30px;
  margin-bottom:30px;
  display:block;
}
@media screen and (min-width:500px) {
  .detail-container img {
    width:30%;
  }
}
